
@font-face {
  font-family: Franklin;
  src: url(/LibreFranklin-VariableFont_wght.ttf);
}

:root {
    --bg-color: linear-gradient(#2b2d30 50%, #383838 100%);
    --nav-bar-height: 96px;
    --line-color: #f7f1e5;
    --fill-color: #459599;
    --title-size: min(5vw, 28px);
    --body-size: min(3.5vw, 16px);
    --title-font-family: "Franklin";
    --full-height: 100%;
    --m-sm: 4px;
    --m-m: 12px;
    --m-l: 20px;
    --m-xl: 24px;
}

html[data-theme="light"] {
    --bg-color: linear-gradient(#2b2d30, #383838);
    --line-color: #f7f1e5;
    --fill-color: #459599;
}


html, body {
    background-image: var(--bg-color);
    height: 100vh;
    height: var(--full-height);
    overflow-y: hidden;
    overflow-x: hidden;
}


.title {
    font-family: var(--title-font-family);
    color: var(--line-color);
    font-size: var(--title-size);
    font-weight: 700;
    line-height: var(--title-size);
    margin-top: auto;
    margin-bottom: auto;
    margin-left: var(--m-m);
    margin-right: var(--m-m);
}

.body {
    font-family: var(--title-font-family);
    color: var(--line-color);
    font-size: var(--body-size);
    line-height: var(--m-xl);
    text-indent: var(--m-xl);
}

.content {
    display: flex;
    flex-direction: column;
}

.language-glsl, .language-gdscript {
    background-color: #3b3d3f;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 14px;
    overflow: auto;
    overflow-wrap: break-word;
    padding: 2rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
    white-space: pre-wrap;
}

.lang {
    display: none;
}

.copy {
    display: none;
}

.fig_caption {
    font-style: italic;
    font-size: 0.75em;
    text-align: center;
    width: 95%;
    margin-bottom: 50px;
}

.row {
    display: flex;
}

.row img {
    border: none;
    margin-right: 10px;
}

ul {
    font-family: var(--title-font-family);
    color: var(--line-color);
}

@media only screen and (max-width: 669px) {

.row {
    flex-direction: column;
    margin-right: 0px;
    margin-top: 10px;
    width: 100%;
}

}
